/* PROJECT VARIABLES */
:root {
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* DROP DOWN MENU */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.dropdown-container,
.carousel-container {
  position: relative;
  width: 75%;
  height: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  border: 1px solid black;
  padding: 8px 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 6px;
  transition: transform 0.3s ease-in-out;
}

.dropdown-button svg {
  width: 20px;
  transition: transform 0.3s ease;
}

.dropdown-button:hover {
  transform: scale(1.05);
}

.dropdown-button:hover svg {
  transform: scale(1.4);
}

.dropdown-menu {
  position: absolute;
  min-width: 100px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

.dropdown-menu.open {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  height: 30px;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: aliceblue;
}

/* CAROUSEL */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slides {
  position: relative;
  height: 100%;
  user-select: none;
}

.hidden {
  display: none;
}

.slide-number {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
}

.previous-slide,
.next-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 0 10px;
  cursor: pointer;
}

.previous-slide:hover,
.next-slide:hover {
  background-color: rgba(136, 136, 136, 0.459);
}

.previous-slide svg,
.next-slide svg {
  width: 28px;
}

.previous-slide {
  left: 0px;
}

.next-slide {
  right: 0px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
